@font-face
 font-family Gotham Light
 font-style normal
 font-weight lighter
 src url(./fonts/GOTHAM-LIGHT.TTF)

@font-face
 font-family Gotham Medium
 font-style normal
 font-weight normal
 src url(./fonts/gotham-medium.ttf)

@font-face
 font-family Gotham Bold
 font-style normal
 font-weight bold
 src url(./fonts/GOTHAM-BOLD.TTF)

@font-face
 font-family Gotham Black
 font-style normal
 font-weight bolder
 src url(./fonts/gotham-black.ttf)