.modal-dialog
	width 320px
.modal-1
	background-color:$pink
	padding:15px 20px
	color:#fff
	border-radius 10px 10px 0px 0px
.modal-2
	background-color:#fff
	padding:15px 30px
	color:#000
	border-radius 0px 0px 10px 10px
	.lil
		font-size 14px
	.sml
		font-size 12px
.image-car
	max-width:150px
	margin 10px 0px
.close-modal
	color #fff
	font-size 20px
	cursor pointer
.note
	font-style italic
	font-size 13px
.modal-backdrop.in
	opacity .8 !important
.bg-blur
	-webkit-filter:blur(6px)
@media screen and (max-width:425px)
	.modal-dialog
		margin 10% auto !important