@media (max-width: 320px)
  .inputbox
    width 90%
    .buttons
      width 90%

  #estimate-fare
    position: relative
    bottom: -300px
    margin-top: -300px

  #signup-ride
    top 250px
    left 20px


@media (min-width: 321px) and (max-width: 512px)
  .inputbox
    width 90%
    padding 5% 0%
    .buttons
      width 90%

  #estimate-fare
    position: relative
    bottom: -300px
    margin-top: -300px

  #signup-ride
    top 310px
    left 20px