.pac-icon
	background-image url(../img/icon.png) !important
	background-size cover
  	background-repeat no-repeat
  	background-position center
/*	width 30px
	height 40px
	position relative
	top -14px
	*/
.pac-icon-maker
	width 50%